<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>EMQ Home Page</title>
    
    
    
    
        <link rel="stylesheet" href="css/style.css">

    
    
    
    
  </head>

  <body>

    <html>
<body>
<nav>
	<ul>
    	<div id="logo">EMQ</div>
    	<li>Home</li>
      <li>Products</li>
      <li>Abous Us</li>
      <li>Contact</li>
        
      <div id="login">Log in</div>

    </ul>
</nav>

<div id="wrapper"><br><br><br><br>
  <p>Welcome to EMQ, the newest local Electronic Retailer Chain in the Bay Area.</p>
 
</div>
</body>
</html>
    
    
    
    
  </body>
</html>
