<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>EMQ</title>
    
    
    
    
        <link rel="stylesheet" href="css/style.css">

    
    
    
    
  </head>

  <body>

    <html>
<nav>
	<ul>
    	<div id="logo">EMQ</div>
    	<li>Home</li>
      <li>Products</li>
      <li>Abous Us</li>
      <li>Contact</li>
        
      <div id="login">Log in</div>

    </ul>
</nav>

<headerp>
  <h1>EMQ Sign in</h1>
</header>
<form>
  <div class="group">
    <input type="Username" placeholder = "Username"></span>
  </div>
  <div class="group">
    <input type = "password" placeholder = "Password" required ="password required"/></span>
  </div>
  <button type="button" class="button buttonBlue">Sign in
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
</footer>
</html>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    
    
    
  </body>
</html>
