body{
	background:#ecf0f1;
	padding:0;
	margin:0;
}

nav{
	position:fixed;
	background-color:#34495e;
	padding:3px;
	width:100%;
	margin:0 auto;
}

nav ul li{
	position:relative;
	left:25%;
	color:white;
	font-size:12px;
	font-family: 'Raleway', sans-serif;
	display:inline;
	margin:0 25px 0 -30px;
	padding:15px;
	border-right: solid #2c3e50 2px;
	-webkit-transition: all .5s;
}

nav ul li:hover{
	border-bottom:solid 2px white;
	color:#ecf0f1;
	cursor:pointer;
	padding-bottom:10px;

}

#login{
	position:relative;
	left:75%;
	color:white;
	font-size:12px;
	font-family: 'Raleway', sans-serif;
	display:inline;
	margin:0 25px 0 -30px;
	padding:15px;
	border-right: solid #2c3e50 2px;
	-webkit-transition: all .5s;
}

#signin hover{
	border-bottom:solid 2px white;
	color:#ecf0f1;
	cursor:pointer;
	padding-bottom:10px;

}

#logo{
	position:fixed;
	top:19px;
	left:16%;
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	color:white;
	padding-right:5px;
	border-right: solid white 1;
	-webkit-transition:all .5s;
}

#logo:hover{
	color:#1abc9c;
	cursor:pointer;
}

#wrapper{
	margin:0 auto;
	width:800px;
	height:1000px;
}

footer{
	width:300px;
	margin:0 auto;
}

h1{
  font-family:'Raleway', sans-serif;
}

p{
	text-align:center;
	font-size:16px;
	color:#95a5a6;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}