<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>EMQ Product Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="css/reset.css">

    
        <link rel="stylesheet" href="css/style.css">

    
    
    
    
  </head>

  <body>

    <html>
<div class="introduction">
  <div class="wrapper">
    <h1>EMQ Products</h1>
    <p>Please choose from any of our spectacular products</p>
  </div>
</div>
<ul class="products">
  <li class="product"> 
    <div class="product__content">
      <h2>Product 1</h2>
      <p class="price">$100</p>
      <p>This is the Product Description for a particular item, </p>
      <button value="100">Add This Product</button>
      <div class="icon__check"></div>
    </div>
  </li>
  <li class="product"> 
    <div class="product__content">
      <h2>Product 2</h2>
      <p class="price">$400</p>
      <p>This is the Product Description for a particular item, </p>
      <button value="400">Add This Product</button>
      <div class="icon__check"></div>
    </div>
  </li>
  <li class="product"> 
    <div class="product__content">
      <h2>Product 3</h2>
      <p class="price">$500</p>
      <p>This is the Product Description for a particular item, </p>
      <button value="500">Add This Product</button>
      <div class="icon__check"></div>
    </div>
  </li>
  <li class="product"> 
    <div class="product__content">
      <h2>Product 4</h2>
      <p class="price">$300</p>
      <p>This is the Product Description for a particular item, </p>
      <button value="300">Add This Product</button>
      <div class="icon__check"></div>
    </div>
  </li>
  <li class="product"> 
    <div class="product__content">
      <h2>Product 5</h2>
      <p class="price">$1000</p>
      <p>This is the Product Description for a particular item, </p>
      <button value="1000">Add This Product</button>
      <div class="icon__check"></div>
    </div>
  </li>
  <li class="product"> 
    <div class="product__content">
      <h2>Product 6</h2>
      <p class="price">$1500</p>
      <p>This is the Product Description for a particular item, </p>
      <button value="1500">Add This Product</button>
      <div class="icon__check"></div>
    </div>
  </li>
  <li class="product"> 
    <div class="product__content">
      <h2>Product 7</h2>
      <p class="price">$900</p>
      <p>This is the Product Description for a particular item, </p>
      <button value="900">Add This Product</button>
      <div class="icon__check"></div>
    </div>
  </li>
  <li class="product"> 
    <div class="product__content">
      <h2>Product 8</h2>
      <p class="price">$800</p>
      <p>This is the Product Description for a particular item, </p>
      <button value="800">Add This Product</button>
      <div class="icon__check"></div>
    </div>
  </li>
</ul></html>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    
    
    
  </body>
</html>
