{% extends "bootstrap/base.html" %}

{% block navbar %}
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle"
         data-toggle="collapse" data-target=".navbar-collapse">
        </button>
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/products">Products</a>
        <a class="navbar-brand" href="/about">About Us</a>
        <a class="navbar-brand" href="/contact">Contact</a>
        <a class="navbar-brand" href="/login">Log In</a> <!-- Need to change this for dynamic update upon changes -->
        <a class="navbar-brand" href="/createAccount">Register</a>
        <a class="navbar-brand" href="/cart">Shopping Cart</a>
		<a class="navbar-brand" href="/listUser">list</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block metas %}
<meta charset="utf-8">
{% endblock %}

{% block html_attr %}
<html lang="en">
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- Super is for flask-bootstrap -->
{{ moment.include_moment() }}
{% endblock %}

{% block styles %}
{{ super() }}
<!-- Super is for flask-bootstrap -->
{% endblock %}
