{% extends "base.html" %}
{% block title %}EMQ Create Account{% endblock %}

  
{% block page_content %}	
		<div id="newProfile" class="col-sm-6 col-sm-offset-3">
			<h1 align = "center">Create Account</h1>
			<!-- new profile -->
			<form name="newprofile1" action = "{{ url_for('addUser') }}" method = "POST">
				<!-- NAME -->
				 <div class="form-group">
				  <input type="text" name="username" class="form-control" placeholder="Username" required>
				 </div>
				 
				 <!-- PASSWORD -->
				 <div class="form-group">
				  <input type="password" name="userpassword" class="form-control" placeholder="Password" required>
				 </div>
				 
				 <!-- EMAIL -->
				<div class="form-group">
				  <input type="email" name="userEmail" class="form-control" placeholder="Email Address" required>
				</div>
				
				 <!-- FIRST LAST NAME -->
				<div class="form-group">
				  <input type="text" name="userfname" class="form-control " placeholder="First Name" required>
					<br>
				  <input type="text" name="userlname" class="form-control " placeholder="Last Name"required>
				</div>
				
				<div class="form-group">
				  <input type="text" name="street" class="form-control " placeholder="Street" required>
				</div>
				
				<div class="form-group">
				  <input type="number" name="zip" min="0" max="99999"class="form-control " placeholder="ZIP" required>
				</div>
				
				<div class="form-group">
				  <input type="text" name="city" class="form-control " placeholder="City" required>
				</div>
				
				<div class="form-group">
				  <input type="text" name="state" class="form-control " placeholder="State" required title="Must Enter Two Characters" pattern="[A-Za-z]{2}">
				</div>
				
				
				<br>
				<!--USER TYPE -->
				<div>Account Type:
				</div><select>
					<option value="Account Type">Manager</option>
					<option value="Account Type">Regular</option>
				</select></div>
				<br>
				<br>
				<!--<button id="sendDataButton" type="button" class="btn pull-right">Create Account</button-->
				<input type = "submit"  class="button buttonBlue" value = "Create Account" />
				
			</form>

		</div><!-- /.col-sm-6 -->
	    	
       
{% endblock %}
