{% extends "base.html" %}
{% block title %}EMQ - Home{% endblock %}

{% block page_content %}
<!DOCTYPE html>
<html lang="en">
    
<div class="custom_home container-fluid" id="homeID">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <h1 class='text-center  custom_title'>Welcome to EMQ </h1>
    </div>
    <div class="col-xs-2"></div>
  </div>

  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <blockquote class="custom_row_quote">
        <p class="custom_quote">Where you're able to make purchases on all your favorite Electronics at fairly low prices.</p>
      </blockquote>
    </div>
    <div class="col-xs-2"></div>
  </div>

  <div class="row">
    <div class="col-xs-1"> </div>
    <div class="page-header col-xs-10"></div>
    <div class="col-xs-1"> </div>
  </div>

<div class="row-shopnow">
<button id = "shop" class="btn btn-lg btn-primary center-block"><span class="glyphicon glyphicon-shopping-cart"></span> Shop now</a>
    <script type="text/javascript">
        document.getElementById("shop").onclick = function () {
            location.href = "http://127.0.0.1:5000/products";
			};</script>
        </div>
</div>
    
  <div class="custom_TopPhotoAttribute">
    <h5> <a><i class="fa fa-creative-commons"></i></a></h5>
  </div>
</div>
    
</html>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
{% endblock %}