{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block title %}EMQ - Products{% endblock %}
{% block page_content %}
<div class="page-header">
    
<div class="container">
    <h1 align = 'center'>Welcome to EMQ Products Page! </h1>
    
    <div id="products" class="row list-group">
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <!-- Not Final Logo, just temporary -->
                <img src="http://i.imgur.com/RRGiasI.gif" width = 200 height = 250/> 
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Name of Product</h4>
                    <p class="group inner list-group-item-text">This is the Product Description for a particular item sold at EMQ.
                        </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $100</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="./cart">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
               <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <!-- Not Final Logo, just temporary -->
                <img src="http://i.imgur.com/RRGiasI.gif" width = 200 height = 250/> 
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Name of Product</h4>
                    <p class="group inner list-group-item-text">This is the Product Description for a particular item sold at EMQ.
                        </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $100</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="./cart">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <!-- Not Final Logo, just temporary -->
                <img src="http://i.imgur.com/RRGiasI.gif" width = 200 height = 250/> 
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Name of Product</h4>
                    <p class="group inner list-group-item-text">This is the Product Description for a particular item sold at EMQ.
                        </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $100</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="./cart">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <!-- Not Final Logo, just temporary -->
                <img src="http://i.imgur.com/RRGiasI.gif" width = 200 height = 250/> 
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Name of Product</h4>
                    <p class="group inner list-group-item-text">This is the Product Description for a particular item sold at EMQ.
                        </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $100</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="./cart">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <!-- Not Final Logo, just temporary -->
                <img src="http://i.imgur.com/RRGiasI.gif" width = 200 height = 250/> 
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Name of Product</h4>
                    <p class="group inner list-group-item-text">This is the Product Description for a particular item sold at EMQ.
                        </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $100</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="./cart">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <!-- Not Final Logo, just temporary -->
                <img src="http://i.imgur.com/RRGiasI.gif" width = 200 height = 250/> 
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Name of Product</h4>
                    <p class="group inner list-group-item-text">This is the Product Description for a particular item sold at EMQ.
                        </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $100</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="./cart">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}