{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
    <h1>Shopping Cart</h1>
</div>

<div class="page-content">
    {% for i in cart %}
	
    <span class='cart-items'>
	
		<div id="cart-items-container">
			<div class="col-md-6 cart-items-label">{{cart[count][0]}} <br> Price:{{cart[count][2]}} X {{ cart[count][3] }}{% set count = count + 1 %} </div>
			<div class="col-md-6 items-form"> 
				<form name="{{count}}" action = "../cart" method = "POST">
					<input type="number" name="quantity" value="{{cart[count-1][3]}}" style="border: 1px solid;" min="0" max= "99" >
					<input type="number" name="id" value="{{count}}" style="display:none" value="Update">
					<input class="btn btn-default" id="update_btn" name="update_btn" type="submit" value="Update">
				</form>
			</div>
		</div>
    </span>
    {% endfor %}

    <div class='cart-total col-md-12'>
		<table class="table">
			<tr>
				<td>Subtotal:</td>
				<td> ${{ total[1] }}</td>
			</tr>
			<tr>
				<td>Tax:</td>
				<td> ${{ total[2] }}</td>
			</tr>
			<tr>
				<td>Shipping:</td>
				<td> ${{ total[3] }}</td>
			</tr>
			<tr class="h4">
				<td>Total:</td>
				<td> ${{ total[0] }}</td>
			</tr>
		</table>
    </div>
	<div class="col-md-12">
		{{ wtf.quick_form(form) }}
	</div>
</div>
{% endblock %}
