{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
    <h1>Shopping Cart</h1>
</div>

<div class="page-content">
    {% for item in item_forms %}
	
    <span class='cart-items'>
	
		<div id="cart-items-container">
			<div class="col-md-6 cart-items-label">{{cart[count][0]}} <br> Price:{{cart[count][2]}} X {{ cart[count][3] }}{% set count = count + 1 %} </div>
			<div class="col-md-6 items-form"> {{ wtf.quick_form(item) }} <!-- TODO: Add Product names here --></div>
		</div>
    </span>
    {% endfor %}

    <div class='cart-total col-md-12'>
		<table class="table">
			<tr>
				<td>Subtotal:</td>
				<td> ${{ total[1] }}</td>
			</tr>
			<tr>
				<td>Tax:</td>
				<td> ${{ total[2] }}</td>
			</tr>
			<tr>
				<td>Shipping:</td>
				<td> ${{ total[3] }}</td>
			</tr>
			<tr class="h4">
				<td>Total:</td>
				<td> ${{ total[0] }}</td>
			</tr>
		</table>
    </div>
	<div class="col-md-12">
		{{ wtf.quick_form(form) }}
	</div>
</div>
{% endblock %}

<!-- AMAZON REFERENCE ITEM
<li><span class="a-list-item">
    <a class="a-link-normal sc-product-link" href="/gp/product/1599219778/ref=ox_sc_act_title_1?ie=UTF8&psc=1&smid=ATVPDKIKX0DER">
        <span class="a-size-medium sc-product-title a-text-bold">
            How to Disappear: Erase Your Digital Footprint, Leave False Trails, And Vanish Without A Trace
        </span>
    </a>
    <span class="a-size-base sc-product-creator">
        by Frank Ahearn
    </span>
</span></li>
-->

<!-- AMAZON BUTTON REF

<span class="a-dropdown-container"><label class="a-native-dropdown"><span class="sc-offscreen-label" aria-label="Quantity"></span></label><select name="quantity" autocomplete="off" tabIndex="-1" class="a-native-dropdown a-button-span8">

  <option value="1" data-a-css-class="quantity-option" selected> 1 </option>
    <option value="2" data-a-css-class="quantity-option"> 2 </option>
    <option value="3" data-a-css-class="quantity-option"> 3 </option>
    <option value="4" data-a-css-class="quantity-option"> 4 </option>
    <option value="5" data-a-css-class="quantity-option"> 5 </option>
    <option value="6" data-a-css-class="quantity-option"> 6 </option>
    <option value="7" data-a-css-class="quantity-option"> 7 </option>
    <option value="8" data-a-css-class="quantity-option"> 8 </option>
    <option value="9" data-a-css-class="quantity-option"> 9 </option>
    <span class="a-size-mini"> 1 </span>
    <option value="10" data-a-css-class="quantity-option quantity-option-10"> 10 + </option>
</select><span tabIndex="-1" data-a-class="quantity" class="a-button a-button-dropdown a-button-small a-button-span8 quantity"><span class="a-button-inner"><span class="a-button-text a-declarative" data-action="a-dropdown-button" role="button" tabIndex="0" aria-hidden="true"><span class="a-dropdown-label"><span class="sc-offscreen-label" aria-label="Quantity"></span></span><span class="a-dropdown-prompt">1</span></span><i class="a-icon a-icon-dropdown"></i></span></span></span>

<input type="text" maxlength="3" autocomplete="off" name="quantityBox" class="a-input-text a-span8 sc-quantity-textfield sc-hidden" aria-label="Quantity">

-->
