{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}EMQ - {{product[1]}}{% endblock %}

{% block styles %}
	{{ super() }}
	<!-- Super is for flask-bootstrap -->

{% endblock %}


{% block page_content %}
<div class="product">
	<form name="addSproduct" id="addSproduct" action = "../product/{{product[0]}}" method = "POST">
    <div class="header">
        <div class="back"></div>
    </div>
    <div class="main">
        <div class="left">
            <h1>{{product[1]}}</h1>
            <h3>${{product[3]}}</h3>
            <img src="{{product[2]}}" height=500 width=500 />
        </div>
        <div class="right">
            <p>{{product[4]}}</p>
			{% if product[7] > 0 %}
				<div class="product-quantity">
					<label for="product-quantity-input" class="product-quantity-label">Quantity</label>
					<div>
					  <input type="text" id="product-quantity-input" name="product-quantity-input" placeholder="1" value="1" maxlength="1"/>
					</div>
				</div>
			{% endif %}
        </div>
    </div>
    <div class="footer">
        {% if product[7] < 1 %}
            <div class="left">  
                <h2>Out of stock.</h2>
            </div>
        {% else %}
            <div class="left">
                <h2>In stock.</h2>
            </div>
            <div class="right">
                 <!--<a class="btn btn-success" href="./product/{{product[0]}}">Add to cart</a>
		  --><input type = "submit"  class="button buttonBlue" value = "Add to cart" />
            </div>
        {% endif %}
    </div>
	</form>
</div>
{% endblock %}

